<div>
	<p *ngIf='!users'>Loading users list ...</p>
	<table class="table table-sm">
		<tr>
			<th>ID</th>
			<th>User name</th>
			<th>Password</th>
			<th>Name</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Admin?</th>
			<th>Reviewer?</th>
			<th>Active?</th>
			<th>Date Created</th>
			<th>Actions</th>
		</tr>
		<tr *ngFor='let user of users'>
			<td>{{user.Id}}</td>
			<td>{{user.Username}}</td>
			<td>********</td>
			<td>{{user.Firstname}} {{user.Lastname}}</td>
			<td>{{user.Phone}}</td>
			<td>{{user.Email}}</td>
			<td>{{user.Admin ? "YES" : "NO"}}</td>
			<td>{{user.Reviewer ? "YES" : "NO"}}</td>
			<td>{{user.Active ? "YES" : "NO"}}</td>
			<td>{{user.Datecreated}}</td>
			<td><a routerLink='/user/detail/{{user.Id}}'>Detail</a></td>
		</tr>
	</table>
</div>