<div>
	<p *ngIf='!user'>The data is loading ...</p>
	<table *ngIf='user'>
		<tr>
			<td>Id:</td>
			<td><input [(ngModel)]='user.id' type='text'></td>
		</tr>
		<tr>
			<td>User name:</td>
			<td><input [(ngModel)]='user.username' type='text'></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input [(ngModel)]='user.password' type='text'></td>
		</tr>
		<tr>
			<td>First Name:</td>
			<td><input [(ngModel)]='user.firstname' type='text'></td>
		</tr>
		<tr>
			<td>Last Name:</td>
			<td><input [(ngModel)]='user.lastname' type='text'></td>
		</tr>
		<tr>
			<td>Phone:</td>
			<td><input [(ngModel)]='user.phone' type='text'></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><input [(ngModel)]='user.email' type='text'></td>
		</tr>
		<tr>
			<td>Is Admin?:</td>
			<td><input [(ngModel)]='user.admin' type='checkbox'></td>
		</tr>
		<tr>
			<td>Is Reviewer?:</td>
			<td><input [(ngModel)]='user.reviewer' type='text'></td>
		</tr>
		<tr>
			<td>Is Active?:</td>
			<td><input [(ngModel)]='user.active' type='text'></td>
		</tr>
	</table>
	<button (click)='showConsole()'>Console.log(user)</button>
</div>